* {
  box-sizing: border-box;
}

body {
 --primary-background: color-mix(in hsl, #FFF3E0, #E0E0E0); /* material orange 50 + grey 300 */
 --primary-text: #3E2723; /* material brown 900 */

 background: var(--primary-background);
 color: var(--primary-text);
 font-size: 1.3rem;
}

code {
  background-color: color-mix(in hsl, #555, var(--primary-background) 10%);
  color: #f3f3f3;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.stack-form {
  display: flex;
  flex-direction: column;
}

.marginless {
  margin: 0px;
}

.stack-form__input-label {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.stack-form__input {
  font-size: 1.3rem;
  width: calc(100vw - 2rem);
  margin-top: 0.5rem;
}


#search-results {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  transition: clip-path 30ms linear;
}

#search-results.htmx-swapping {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}
